SilverFall/bin/Debug/net8.0/saves/game_save.json
SilverFall/bin/Debug/net8.0/SilverFall.dll
SilverFall/bin/Debug/net8.0/SilverFall.exe
SilverFall/bin/Debug/net8.0/SilverFall.pdb
SilverFall/obj/project.nuget.cache
SilverFall/obj/SilverFall.csproj.nuget.dgspec.json
SilverFall/obj/Debug/net8.0/apphost.exe
SilverFall/obj/Debug/net8.0/SilverFall.AssemblyInfo.cs
SilverFall/obj/Debug/net8.0/SilverFall.AssemblyInfoInputs.cache
SilverFall/obj/Debug/net8.0/SilverFall.assets.cache
SilverFall/obj/Debug/net8.0/SilverFall.dll
SilverFall/obj/Debug/net8.0/SilverFall.GeneratedMSBuildEditorConfig.editorconfig
SilverFall/obj/Debug/net8.0/SilverFall.pdb
SilverFall/obj/Debug/net8.0/SilverFall.sourcelink.json
SilverFall/obj/Debug/net8.0/ref/SilverFall.dll
SilverFall/obj/Debug/net8.0/refint/SilverFall.dll
